@import "~@blueprintjs/core/lib/scss/variables";
@import "../../Global.scss";

.Main {
  margin: auto auto;
  padding: 40px 0px;
  max-width: 460px;
}

.Instructions {
  margin: 30px 0px;
  font-size: 16px;
}

.Action {
  text-align: center;
}

.Input {
  padding: 30px;
  border: 3px solid $light-gray1;
  border-radius: 11px;
  margin: 35px 0px;
}

.Stage {
  text-align: center;
  margin-top: 20px;
}

.KeyHelper {
  vertical-align: text-bottom;
  height: 16px;
  min-width: 16px;
  opacity: 1;
  transition: all 200ms ease-out 0s;
  pointer-events: none;
  background: #70a4d2;
  padding: 4px 6px;
  border-radius: 4px;
}