@import "../../Global.scss";
@import "~@blueprintjs/core/lib/scss/variables";

.Main {
  margin: $app-margin;
}

.Table {
  width: 100%;

  th {
    text-transform: uppercase;
  }

  th:not(:last-child) {
    border-right: 1px solid $light-gray1;
  }
}

.TableFilter {
  background: $light-gray5;
  padding: 8px;
  border-top: 1px solid $light-gray1;
  border-bottom: 1px solid $light-gray1;
  display: grid;
  grid-gap: $grid-gap;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 0px;
  text-align: right;
}

.StageTag {
  text-transform: capitalize;
}

.TableCTA > * {
  margin-left: 10px;
}